<div class="container">
  <div class="">

      <table>
        <tr>
          <td>
            {{result}}
          </td>
        </tr>
      </table>


      <div class="up">

        <input type="button" value="1" (click)="jedna()">

        <input type="button" value="2" (click)="dva()">

        <input type="button" value="3" (click)="tri()">

      </div>

      <div class="middle">
        <input type="button" value="4" (click)="ctyri()">

        <input type="button" value="5" (click)="pet()">

        <input type="button" value="6" (click)="sest()">
      </div>

      <div class="bottom">

        <input type="button" value="7" (click)="sedm()">

        <input type="button" value="8"(click)="osm()">

        <input type="button" value="9"(click)="devet()">

        <input type="button" value="0"(click)="nula()">

      </div>

      <div class="idk">
        <input type="button" value="-"(click)="minus()">

        <input type="button" value="+"(click)="plus()">

        <input type="button" value="/"(click)="deleno()">

        <input type="button" value="*"(click)="krat()">

        <input type="button" value="="(click)="vysledek()">

      </div>



  </div>
</div>
